<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/iview/1.0.2/styles/iview.css"> -->
</head>
<body>
    <!-- <br>
	<h3>Hello, Webpack 3.</h3>
	<br>
	<br> -->
    <div id="app"></div>
    
    <!--  <script src="<%= htmlWebpackPlugin.options.cdnpath %>/vendor.bundle.js"></script> -->
    <script src="<%= htmlWebpackPlugin.options.cdnpath %>/static/dll/bundle.dll.js"></script>
    <script src="<%= htmlWebpackPlugin.options.cdnpath %>/main.js"></script>
</body>
</html>
